registry=https://pkgs.dev.azure.com/kozhushman/_packaging/kozhushman/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/<yourorganization>/_packaging/<yourfeed>/npm/registry/:username=[kozhushman]
//pkgs.dev.azure.com/<yourorganization>/_packaging/<yourfeed>/npm/registry/:_password=[Y3BxaDJwb3I1cW1kb2RwdnVmYXJ3Y2d4cHR0cHo0c3N6eG4yMnhwM20ydnlvbWVwZWljcQ==]
//pkgs.dev.azure.com/<yourorganization>/_packaging/<yourfeed>/npm/registry/:email=[kozhushman@gmail.com]
//pkgs.dev.azure.com/<yourorganization>/_packaging/<yourfeed>/npm/:username=[kozhushman]
//pkgs.dev.azure.com/<yourorganization>/_packaging/<yourfeed>/npm/:_password=[Y3BxaDJwb3I1cW1kb2RwdnVmYXJ3Y2d4cHR0cHo0c3N6eG4yMnhwM20ydnlvbWVwZWljcQ==]
//pkgs.dev.azure.com/<yourorganization>/_packaging/<yourfeed>/npm/:email=[kozhushman@gmail.com]
; end auth token